/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Reset CSS Default Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.cursor-pointer {
  cursor: pointer;;
}

.summary-card-container {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.user-summary-card-container {
  margin: 30px 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}